<div
  class="grid grid-cols-1 bg-[var(--main-color1)] md:grid-cols-2 py-[40px] px-[1rem] lg:px-[10rem]"
>
  <div
    class="flex flex-col gap-10 items-center text-center justify-center bg-[var(--main-color)] p-5"
  >
    <h2 class="text-4xl">Our Story: An Extraordinary Journey</h2>

    <p class="leading-7">
      Passionately baking pastries since 2009. Exception Pastry is a dynamic and
      rapidly growing pastry and café chain that serves pastry lovers all over
      Egypt. Offering an exceptional and happy experience to customers.
    </p>
    <p>
      We started with a dream, and now we serve over 20 branches and cafes in
      Cairo, producing the most delicious oriental desserts, french desserts,
      pastries, and much more
    </p>
    <button
      role="button"
      class="px-10 py-3 capitalize border cursor-pointer rounded-b-xl hover:bg-[var(--main-color)] font-bold hover:text-white transetion-all duration-500 rounded-s-full"
    >
      read more
    </button>
  </div>
  <img src="/image/قصتنا.webp" class="" alt="" />
</div>
