<div
  class="grid grid-cols-1 md:grid-cols-2 border-t-8 my-[2rem] border-[var(--font-color)]"
>
  <img src="/image/aboutsttor.webp" class="w-full h-full" alt="aboutsttory" />

  <div
    class="flex flex-col gap-10 items-center text-center justify-center bg-[var(--main-color)] p-10"
  >
    <h2 class="text-4xl">Our Story: An Extraordinary Journey</h2>

    <p class="leading-7 text-gray-500">
      Passionately baking pastries since 2009. Exception Pastry is a dynamic and
      rapidly growing pastry and café chain that serves pastry lovers all over
      Egypt. Offering an exceptional and happy experience to customers.
    </p>
    <p class="leading-7 text-gray-500">
      We started with a dream, and now we serve over 20 branches and cafes in
      Cairo, producing the most delicious oriental desserts, french desserts,
      pastries, and much more
    </p>
    <button
      role="button"
      class="px-10 py-3 capitalize border cursor-pointer rounded-b-xl hover:bg-[var(--main-color)] font-bold hover:text-white transetion-all duration-500 rounded-s-full"
    >
      read more
    </button>
  </div>
</div>
<div class="py-[60px] px-[1rem] lg:px-[15rem] gap-4">
  <h6>Mission</h6>
  <p class="leading-relaxed text-2xl md:text-5xl text-gray-500">
    “By consistently delivering exceptional quality, taste, and service to our
    customers, we are committed to investing in continuous research and
    development, and we work 24/7 to maintain a world-class, and fresh taste
    daily and punctual time for both in-store and reservations.”
  </p>
</div>
