<div class="py-[80px] px-[1rem] lg:px-[5rem] bg-[var(--bg-main-color)]">
  <h3
    class="text-3xl text-center flex gap-2 justify-center items-center text-[var(--font-color)]"
  >
    WHY CHOOSE <img src="/Melologo.png" class="w-[6.25rem]" alt="" /> ?
  </h3>

  <div class="grid lg:grid-cols-3 grid-col-1 gap-5 pt-10 md:grid-cols-2">
    <div
      class="flex flex-col justify-center hover:shadow-lg transition-all duration-400 shadow-[var(--main-color3)] group hover:bg-[var(--main-color2)] shadow-sm p-6 rounded-lg max-sm:shadow p-5 text-center gap-4 items-center"
    >
      <img
        src="/image/Icon.png"
        alt="car"
        class="group-hover:scale-115 transition-all duration-600"
      />
      <h4 class="text-[var(--font-color)] h-[3.125rem] line-clamp-20">
        Delivery in the main governorates of Egypt
      </h4>
      <p class="text-xs lin-clamp-3 h-[50px]">
        A fast delivery network around the clock in Cairo, Alexandria, Fayoum,
        and more than 20 branches nationwide.
      </p>
    </div>
    <div
      class="flex flex-col justify-center hover:shadow-lg transition-all duration-400 shadow-[var(--main-color3)] group hover:bg-[var(--main-color2)] shadow-sm p-6 rounded-lg text-center gap-4 items-center"
    >
      <img
        src="/image/Icon-1.png"
        alt="car"
        class="group-hover:scale-115 transition-all duration-600"
      />
      <h4 class="text-[var(--font-color)] h-[3.125rem] line-clamp-2">
        THOUGHFULLY PACKAGED
      </h4>
      <p class="text-xs lin-clamp-3 h-[50px]">
        We package our creations thoughtfully to maintain the best experience
        ever.
      </p>
    </div>

    <div
      class="flex flex-col justify-center hover:shadow-lg transition-all duration-400 shadow-[var(--main-color3)] group hover:bg-[var(--main-color2)] shadow-sm p-6 rounded-lg text-center gap-4 items-center"
    >
      <img
        src="/image/Icon (1).png"
        alt="car"
        class="group-hover:scale-115 transition-all duration-600"
      />
      <h4 class="text-[var(--font-color)] h-[3.125rem] line-clamp-2">
        ONE-OF-A-KIND DESSERTS
      </h4>
      <p class="text-xs lin-clamp-3 h-[50px]">
        Indulge in Exception’s exquisite selection of desserts and savoury
        snacks.
      </p>
    </div>
  </div>
</div>
