<div class="py-[80px] px-[1rem] lg:px-[10rem] bg-(--main-color2)">
  <h3 class="mb-3 text-4xl text-center text-[var(--font-color)]">
    shop our category
  </h3>
  <p class="text-center">
    MELO Donuts offers a distinguished group of <br />
    desserts and savory snacks.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-8">
    <div class="card shadow-md rounded-[1.875rem] bg-white overflow-hidden">
      <div class="relative card-image text-center flex justify-center">
        <div class="image">
          <img
            src="/image/two1 (1).png"
            class="transition-all duration-1000 h-[320px] w-full"
            alt="brevages"
          />
        </div>

        <div class="layer rounded-lg items-end overflow-hidden">
          <div class="layer-content px-8 py-4">
            <button
              class="md:w-full text-sm cursor-pointer my-2 capitalize bg-white text-[var(--font-color)] hover:bg-[var(--font-color)] transition-all duration-300 hover:text-white py-2 px-4 border border-[var(--font-color)] rounded-full"
            >
              go to brevages
            </button>
            <div>
              <a
                class="ms-3 bg-gray-200 border-green-700 border size-10 bg-white flex justify-center items-center rounded-full"
                href=""
                ><i class="text-green-700 text-xl fa-solid fa-phone"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="div cardbody text-center space-y-3 p-4">
        <h3 class="text-[var(--font-color)]">brevages</h3>
        <p>
          <i
            >We offer a wide variety of premium hot and cold beverages.
            capitalize
          </i>
        </p>
      </div>
    </div>
    <div class="card shadow-md rounded-[1.875rem] bg-white overflow-hidden">
      <div class="relative card-image text-center flex justify-center">
        <div class="image">
          <img
            src="/image/cheese/cakk.png"
            class="transition-all duration-1000 h-[320px] w-full"
            alt="cheese"
          />
        </div>

        <div class="layer rounded-lg items-end overflow-hidden">
          <div class="layer-content px-8 py-4">
            <button
              class="md:w-full text-sm cursor-pointer my-2 capitalize bg-white text-[var(--font-color)] hover:bg-[var(--font-color)] transition-all duration-300 hover:text-white py-2 px-4 border border-[var(--font-color)] rounded-full"
            >
              go to cheese menu
            </button>
            <div>
              <a
                class="ms-3 bg-gray-200 border-green-700 border size-10 bg-white flex justify-center items-center rounded-full"
                href=""
                ><i class="text-green-700 text-xl fa-solid fa-phone"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="div cardbody text-center space-y-3 p-4">
        <h3 class="text-[var(--font-color)]">cheese</h3>
        <p>
          <i>We offer a wide variety of premium hot and cold cheese dishes. </i>
        </p>
      </div>
    </div>
    <div class="card shadow-md rounded-[1.875rem] bg-white overflow-hidden">
      <div class="relative card-image text-center flex justify-center">
        <div class="image">
          <img
            src="/image/cina/donates_1744741373904.jpeg"
            class="transition-all duration-1000 h-[320px] w-full"
            alt="cina"
          />
        </div>

        <div class="layer rounded-lg items-end overflow-hidden">
          <div class="layer-content px-8 py-4">
            <button
              class="md:w-full text-sm cursor-pointer my-2 capitalize bg-white text-[var(--font-color)] hover:bg-[var(--font-color)] transition-all duration-300 hover:text-white py-2 px-4 border border-[var(--font-color)] rounded-full"
            >
              go to cinabone menu
            </button>
            <div>
              <a
                class="ms-3 bg-gray-200 border-green-700 border size-10 bg-white flex justify-center items-center rounded-full"
                href=""
                ><i class="text-green-700 text-xl fa-solid fa-phone"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="div cardbody text-center space-y-3 p-4">
        <h3 class="text-[var(--font-color)]">cinabon</h3>
        <p>
          <i
            >We offer a wide variety of premium hot and cold cinabons.
            capitalize
          </i>
        </p>
      </div>
    </div>
    <div class="card shadow-md rounded-[1.875rem] bg-white overflow-hidden">
      <div class="relative card-image text-center flex justify-center">
        <div class="image">
          <img
            src="/image/donut1.png"
            class="transition-all duration-1000 h-[320px] w-full"
            alt="donuts"
          />
        </div>

        <div class="layer rounded-lg items-end overflow-hidden">
          <div class="layer-content px-8 py-4">
            <button
              class="md:w-full text-sm cursor-pointer my-2 capitalize bg-white text-[var(--font-color)] hover:bg-[var(--font-color)] transition-all duration-300 hover:text-white py-2 px-4 border border-[var(--font-color)] rounded-full"
            >
              go to donuts
            </button>
            <div>
              <a
                class="ms-3 bg-gray-200 border-green-700 border size-10 bg-white flex justify-center items-center rounded-full"
                href=""
                ><i class="text-green-700 text-xl fa-solid fa-phone"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="div cardbody text-center space-y-3 p-4">
        <h3 class="text-[var(--font-color)]">donuts</h3>
        <p>
          <i
            >We offer a wide variety of premium hot and cold donuts. capitalize
          </i>
        </p>
      </div>
    </div>
    <div class="card shadow-md rounded-[1.875rem] bg-white overflow-hidden">
      <div class="relative card-image text-center flex justify-center">
        <div class="image">
          <img
            src="/image/cookis1.png"
            class="transition-all duration-1000 h-[320px] w-full"
            alt="cookies"
          />
        </div>

        <div class="layer rounded-lg items-end overflow-hidden">
          <div class="layer-content px-8 py-4">
            <button
              class="md:w-full text-sm cursor-pointer my-2 capitalize bg-white text-[var(--font-color)] hover:bg-[var(--font-color)] transition-all duration-300 hover:text-white py-2 px-4 border border-[var(--font-color)] rounded-full"
            >
              go to cookies
            </button>
            <div>
              <a
                class="ms-3 bg-gray-200 border-green-700 border size-10 bg-white flex justify-center items-center rounded-full"
                href=""
                ><i class="text-green-700 text-xl fa-solid fa-phone"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="div cardbody text-center space-y-3 p-4">
        <h3 class="text-[var(--font-color)]">cookies</h3>
        <p>
          <i
            >We offer a wide variety of premium hot and cold cookies. capitalize
          </i>
        </p>
      </div>
    </div>
  </div>
</div>
