<div class="flex flex-col gap-4 items-center justify-center relative">
  <div
    class="absolute top-0 left-0 w-full h-full gap-4 justify-center items-center flex-col flex"
  >
    <h1 class="text-2xl md:text-4xl font-bold">About Us</h1>
    <h4 class="text-lg md:text-2xl font-semibold">Our story since 2009</h4>
    <p class="text-center max-w-2xl text-white">
      We are dedicated to creating the most delicious and beautiful cakes for
      your special occasions. Our team of expert bakers and decorators work
      tirelessly to ensure that every cake is a masterpiece.
    </p>
  </div>
  <video
    src="/image/ff.mp4"
    alt="About Us"
    autoplay
    loop
    class="rounded-lg shadow-lg w-full h-[450px] object-cover"
  ></video>
</div>
